.contact-card {
  display: flex;
  padding: 10px;
  color: black;
  background-color: #a3e635;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 7px 7px 20px -12px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  max-width: 500px;
  max-height: 140px;
  margin: 10px;
  margin-bottom: 15px;
}

.contact-card p {
  margin-left: 10px;
  margin-top: 0;
}

button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.heading {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.end-quote {
  display: flex;
  justify-content: center;
}
